*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: 'Poppins';
  background-image: url(image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
  height: 100vh;
}
header{
  width: 100%;
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  font-size: 25px;
  font-weight: 700;
}
header button {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background-color: #61c783;
  border: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 30px;
  width: 240px;
  height: 40px;
}
header a {
  text-decoration: none;
  color: black;
}
.title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.task-name, .title-box{
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px black;
  height: 60px;
}
.title-box {
  width: 377px;
  border-radius: 20px;
}
.task-name{
  border-radius: 10px;
  width: 200px;
}
.task-data{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.upload-photo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #fff;
  width: 278px;
  height: 258px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
}
.task-data .info table{
  width: 705px;
  height: 260px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  backdrop-filter: blur(50px);
  box-shadow: 0px 2px 3px black;
  border-collapse:collapse ;
  border-style: hidden;
}
.task-data .info table td{
  padding: 0 20px;
  border: 1.5px solid #fff;
}
.task-description{
  width: 792px;
}
.description-content{
  width: 100%;
  height: 370px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.description-content .text{
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  width: 340px;
  color: rgba(29, 26, 26, 0.71) ;
}
.unknown{
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.unknown span{
  width: 270px;
  display: block;
  height: 15px;
  border-radius: 7.5px;
  background-color: rgba(29, 26, 26, 0.71);
  margin-top: 30px;
}
.unknown :last-child{
  width: 135px;
}